<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold ms-3" [routerLink]="'/'">Ordo</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOrdo">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarOrdo">
      <ul class="navbar-nav ms-auto me-3">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/kanban'" routerLinkActive="active">Kanban</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/calendar'" routerLinkActive="active">Calendário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/profile'" routerLinkActive="active">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/login'" routerLinkActive="active">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

